@import "css/hexgrid.css";
body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: 'Blinker', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(38, 58, 4);
}

code {
  font-family: 'Blinker', sans-serif;
}

.infoModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.infoModal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerInfo {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  background-color: rgb(90, 2, 2);
  color: antiquewhite;
  padding: 10px;
  border-radius: 5px;

}

.display-block {
  display: block;
}

.display-none {
  display: none;
}



.closeModal {
  opacity: 0;
}
.cm-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
}
.cm-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
}
.cm-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
}
.cm-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
}

.playerDetails {
  display: flex;

}
.pdColumn {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20%;
}
.proficiencies {
  font-size: 80%;
  font-weight: 300;
  text-align: left;
}
.playerStat {
  border: 2px solid darkred;
  padding: 2px;
  border-radius: 5px;
  margin: 1px;
}
.statHr {
  border-color: lightcoral;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
}
.savePrompt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.promptBox {
  margin-top: 20%;
  border-radius: 10px;
  border-style: inset;
  border-color: darkred;
  background-color: chocolate;
  padding: 2vh;
  width: 30vw;
  height: 10vh;
  z-index: 3;
}
.pdSectionBreak {
  margin: 10px 0 10px 0;
}

.lineBreaks {
  white-space: pre-line;
}