/* TODO tidy and split into smaller css files */
.stat {
  font-size: 2em;
}
.statButton {
  background-color: burlywood;
  border-color: bisque;
  font-weight: 700;
  visibility: hidden;
}
.statDown {
  float: left;
  margin-left: 1em;
  padding: 0.1em 0.5em 0.1em 1em;
  border-radius: 30px 0 0 20px;
}
.statDown:hover, .statUp:hover {
  background-color: peru;
  border-color: burlywood;
}
.statUp {
  float: right;
  margin-right: 1em;
  padding: 0.1em 1em 0.1em 0.5em; 
  border-radius: 0 30px 20px 0;
}
.playerDetails {
  display: flex;
  height: 90%;
}
.baseStat-inner:hover .statButton {
  visibility: visible;
}

.playerHeader {
  height: 8%;
}

.pdColumn {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20%;
  height: 100%;
  overflow: hidden;
  overflow: scroll;
  scrollbar-width: none;
}

.proficiencies {
  padding: 2px;
  font-weight: 300;
  text-align: left;
}
.baseStat {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
}
.statHr {
  border-color: darkred;
}

.pdSectionBreak {
  margin: 10px 0 0 0;
  width: 50%;
  align-self: center;
  border-color: darkred;
}

.playerInfoContainer {
  border: 2px solid darkred;
  background-color: darkred;
  border-radius: 10px;
  padding: 2px 0 2px 0;
  width: 100%;
  margin-top: 0.5em;
}

.profilePic {
  margin-top: 1vh;
  width: 14.5vw;
  height: 14.5vw;
}

.profilePic:hover {
  filter: sepia(100%);
}

.abilityList a h3 {
  margin-top: 0.5em;
  color: bisque;
}
.abilityList a h3:hover {
  color: peru;
}

.pdColumn h3, h1 {
  color: burlywood;
}

.info-string {
  font-size: 3vw;
}

@media screen and (min-width: 1200px) {
  .info-string {
    font-size: 1em;
  }
}

.charName {
  font-size: 3.5vh;
}

.charName:hover, .playerName:hover {
  color: peru;
}

.playerName {
  font-size: 2.5vh;
}

.editField {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.editBox {
  margin-top: 20%;
  border-radius: 10px;
  border-style: groove;
  border-color: darkred;
  background-color: #550000;
  padding: 2vh;
  width: 30vw;
  height: 10em;
  z-index: 5;
}
.editProfs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.editProfBox {
  margin-top: 20%;
  border-radius: 10px;
  border-style: groove;
  border-color: darkred;
  background-color: #550000;
  padding: 1em 1em 0.5em 1em;
  width: 30vw;
  z-index: 5;
}

.prof-have {
  color: bisque
}
.prof-have:hover {
  color: peru;
  cursor: pointer;
}
.prof-need {
  color: saddlebrown;
}
.prof-need:hover {
  color: peru;
  cursor: pointer;
}

.addBox {
  margin-top: 20%;
  border-radius: 10px;
  border-style: groove;
  border-color: darkred;
  background-color: #550000;
  padding: 2vh;
  width: 30vw;
  height: 20em;
  z-index: 5;
}

.info-header {
  font-weight: 700;
  font-size: 1.2em;
  color: burlywood;
}

.stat-header {
  font-weight: 700;
  font-size: 1.75em;
  color: burlywood;
}

.cancel-btn {
  font-size: 1em;
  background-color: darkred;
  color: #fff;
  width: 10vw;
  height: 3vw;
  max-width: 150px;
  max-height: 50px;
  outline: none;
  border: none;
  margin: 1em 0;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  text-align: center;
  letter-spacing: 1px;
}

.cancel-btn:hover {
  background-color: #770000;
  color: burlywood;
}

.accept-btn {
  font-size: 1em;
  background-color: darkgreen;
  color: #fff;
  width: 10vw;
  height: 3vw;  
  max-width: 150px;
  max-height: 50px;
  outline: none;
  border: none;
  margin: 1em 0;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  text-align: center;
  letter-spacing: 1px;
}

.accept-btn:hover {
  background-color: #005500;
  color: burlywood;
}

.addItem {
  margin-top: 10px;
  border-color: darkred;
  background-color: #830000;
  color: bisque;
  width: 60%;
  align-self: center;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}

.addItem:hover {
  background-color: #770000;
}

.playerStat {
  border: 2px solid darkred;
  background-color: #550000;
  padding: 2px;
  border-radius: 5px;
  margin: 1px;
  color: bisque;
}

.playerStat-inner {
  background-color: #550000;
  border-style: none;
  color: bisque;
  width: 100%;
}

.playerStat-inner:hover {
  color: peru;
}
.baseStat-inner {
  background-color: #550000;
  border-style: none;
  color: bisque;
  width: 100%;
}

.player-proficiencies {
  background-color: #550000;
  border-style: none;
  color: bisque;
  width: 100%;
  text-align: left;
}

.player-proficiencies:hover {
  color: peru;
}

.playerInfoBox {
  display: inline-block;
  border: 2px solid darkred;
  background-color: #550000;
  padding: 1%;
  border-radius: 15px;
  margin: 0.5%;
  color: bisque;
  width: 44%;
}

.playerInfoBoxWide {
  display: inline-block;
  border: 2px solid darkred;
  background-color: #550000;
  padding: 1%;
  border-radius: 15px;
  margin: 1px;
  color: bisque;
  width: 94%;
}

.playerInfoBox:hover {
  color: peru;
}

.playerInfoBoxWide:hover {
  color: peru;
}

button span {
  pointer-events: none;
}

.stat-profs {
  font-weight: 700;
  color: burlywood;
  font-size: 110%;
  display: block;
  text-align: center;
}

.player-proficiencies:hover .stat-profs {
  color: goldenrod;
}

.playerStat:hover {
  color: peru;
}

.edit-input {
  width: 200px;
  font-size: 2em;
  margin-top: -10px;
  text-align: center;
  background-color: #440000;
  border-color: darkred;
  color: peru;
}

.addText {
  background-color: #440000;
  padding: 5px;
  border-color: darkred;
  resize: none;
  color: goldenrod;
  min-width: 177px;
  ;
}

.addItemP {
  color: burlywood;
}

.deletePlayer {
  background-color: #440000;
  border-color: darkred;
  position: absolute;
  top: 5px;
  left: 5px;
  color: darkred;
  height: 4vh;
  width: 6vw;
  font-weight: 700;
  border-radius: 5px;
  border-style: ridge;
}

.deletePlayer:hover {
  border-color: orangered;
  color: orangered;
}
.deleteItem {
  background-color: darkgoldenrod;
  border-color: goldenrod;
  position: absolute;
  top: 5px;
  left: 5px;
  color: firebrick;
  height: 4vh;
  width: 6vw;
  font-weight: 700;
  border-radius: 5px;
  border-style: groove;
}

.deleteItem:hover {
  border-color: gold;
  color: gold;
}

.close-modal {
  background-color: darkgreen;
  border-color: green;
  position: absolute;
  top: 5px;
  right: 5px;
  color: khaki;
  height: 1.2em;
  width: 1.2em;
  font-weight: 700;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-size: 2em;
}

.close-modal:hover {
  border-color: khaki;
  color: lightgreen;
}

.search-spells {
  margin-left: 0.5em;
  background-color: peru;
  border-color: darkgoldenrod;
  padding: 3px;
  border-radius: 2px;
  font-weight: 700;
  color: black;
}

.itemModal {
  position: absolute;
  top: 15vh;
  left: 30vw;
  border-radius: 1px;
  border-style: inset;
  border-color: peru;
  background-color: chocolate;
  color: navajowhite;
  padding: 1vh 2vh 3vh 2vh;
  width: 40vw;
  height: 40vh;
  z-index: 3;
  overflow: scroll;
}
.im-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100vw;
  z-index: 5;
  opacity: 0;
}
.im-right {
  position: absolute;
  top: 15vh;
  right: 0;
  height: 45vh;
  z-index: 5;
  opacity: 0;
  width: 27.5vw;
}
.im-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 40vh;
  opacity: 0;
  width: 100%;
}
.im-left {
  position: absolute;
  top: 15vh;
  left: 0;
  height: 45vh;
  width: 30vw;
  z-index: 5;
  opacity: 0;
}
.itemHr {
  border-color: peru;
  margin: 1vh 8vw 0 8vw;
}
.itemHeader {
  font-size: 200%;
  font-family: 'Blinker', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  padding: 0;
}
.itemDescription {
  padding: 1em 10% 1em 10%;
  text-align: left;
  white-space: pre-wrap;
}
.sWidth {
  font-size: 2em;
}
@media screen and (max-width: 800px) {
  .sWidth {
    font-size: 4vw;
  }
}